:root {

    --day_gradient: linear-gradient(30deg, #f34f73, #c57d39);
    --night_gradient: linear-gradient(30deg, #863bff, #44b9f0); 


    --day-border-colours: linear-gradient(90deg, rgba(114, 13, 230, 0.5), rgba(160, 40, 86,0.5) ) border-box;
    --night-border-colours: linear-gradient(90deg, rgba(114, 13, 230, 0.5), rgba(160, 40, 86,0.5) ) border-box;
}

.inter-100 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.inter-200 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.inter-300 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.inter-500 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/*****  Degradados de colores  *****/
.timezone {
    transition: background 1s ease-in-out;
    object-fit: contain;
    color: transparent; /* Hace que el texto tome el degradado */
}
.dia {
    -webkit-background-clip: text;
    background: var(--day_gradient);
    background-clip: text;
}
.noche {
    -webkit-background-clip: text;
    background: var(--night_gradient);
    background-clip: text;
}





/*****  TEsting  *****/
.intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2); /* Fondo oscuro translúcido */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  backdrop-filter: blur(25px); /* Difumina lo de atrás */

opacity: 1;
  animation: fadeOutIntro 3s ease forwards 4s;
}

.msg {
    position: absolute;
    opacity:0;
}
.msg-one{
      animation: aparecerDesaparecer 1s ease-in-out forwards;
}
.msg-two{
      animation: aparecerDesaparecer 2s ease-in-out forwards 1.5s;
}

@keyframes aparecerDesaparecer {
  0% { opacity: 0; transform: translateY(10px); }
  20% { opacity: 1; transform: translateY(0); }
  80% { opacity: 1; }
  100% { opacity: 0; transform: translateY(-10px); }
}

@keyframes fadeOutIntro {
  to {
    opacity: 0;
    visibility: hidden;
  }
}









  
/*****  Relucient White Animation  *****/
@keyframes moveGradient {
    0% { background-position: 200% 50%; }
    100% { background-position: 0% 50%; }
}

/* 
0% 50%
200% 50%
*/
.animated_white_basic {
    background: linear-gradient(30deg, #525252,#525252, #525252, #525252, #ffffff, #ffffff, #525252, #525252, #525252,#525252);
    background-size: 200% 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: moveGradient 5s linear infinite;
}

.animated_white_basic_two {
    background: linear-gradient(90deg, #6d6d6d,#6d6d6d, #6d6d6d, #6d6d6d, #c5c5c5, #6d6d6d, #6d6d6d, #6d6d6d,#6d6d6d);
    background-size: 200% 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: moveGradient 6s linear infinite;
}

/* intocable */


/*****  Scrollbar Cards Projects  *****/
.scroll-container {
    width: 100%;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) ; /* Color de la barra y fondo en Firefox */
    scroll-behavior: auto;
    margin: 5px;
}

/* Scrollbar personalizado para Chrome y Edge */
.scroll-container::-webkit-scrollbar {
    width: 0px;
    height: 8px;
}

.scroll-container::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0); 
    border-radius: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);    
}

/* Estilos de las cards */
.cards {
    display: flex;
    gap: 10px;
}

/* intocable */


/*****  Cards Degraded Background  *****/
.large-blur::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center left, rgb(32, 32, 32), transparent 30%);
    mix-blend-mode: screen;
    pointer-events: none;
}
.large-blur-right::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center right, rgb(32, 32, 32), transparent 30%);
    mix-blend-mode: screen;
    pointer-events: none;
}
.bg-large-blur::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center left, rgb(32, 32, 32), transparent 30%);
    mix-blend-mode: screen;
    pointer-events: none;
}


/* Experiences Cards */

.scrolls_bar{
    height: 270px;
    overflow-y: auto;
    scrollbar-width: 2px;
    scrollbar-color: rgba(0, 0, 0, 0.1);
    scroll-behavior: auto;
}

.scrolls_bar::-webkit-scrollbar {
    width:2px;
}

.scrolls_bar::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.scrolls_bar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}