---
import Layout from '../layouts/Layout.astro'; 
import Protagonist from '../components/Protagonist.astro';
import Projects from '../components/Projects.astro';
import Technologies from '../components/Technologies.astro';
import About from '../components/About.astro';
import Languages from '../components/Languages.astro';
import Experiences from '../components/Experiences.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Portfoliux - Frontend Portfolio", description="Desarrollo de sitios web con componentes increibles, con habilidades en frontend y backend.">
    <main class='text-white'>
    <section class="h-[100%]">
    
        <Protagonist/>

        <Projects/>
    
        <section class="h-64 relative md:hidden">
              <section class="absolute pt-[70px] flex flex-col gap-5 text-[14px] ">
                <span class="text-gray-500 pl-36">+14 Projects</span>
                <span class="text-gray-500 pl-48">13k Users</span>
                <span class="text-gray-500 pl-36">35 Opinions</span>
            </section>
            <section class="card_degraded_one">
            </section>
        </section>

        <Technologies/>

        <About/>

        <Languages/>

        <section class="h-64 relative md:hidden">
            <section class="absolute pt-[70px] left-16 flex flex-col gap-5 text-[14px]">
                <span class="text-gray-500 pl-12">+14 Projects</span>
                <span class="text-gray-500 pl-6">13k Users</span>
                <span class="text-gray-500 pl-12">35 Opinions</span>
            </section>
            <section class="card_degraded_two">
            </section>
        </section>
        
        <Experiences/>
        
        <section class="h-64 relative md:hidden">
            <section class="card_degraded_three">
            </section>
        </section>

        <Contact/>
    
    </section>
    </main>
</Layout>


