---
import Layout from '../layouts/Layout.astro'; 
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import Technologies from '../components/Technologies.astro';
import AboutMe from '../components/AboutMe.astro';
import Languages from '../components/Languages.astro';
import Experiences from '../components/Experiences.astro';
import Footer from '../components/Footer.astro';
import Services from '../components/Services.astro';
import NavBar from '../components/NavBar.astro';
import Descriptions from '../components/Descriptions.astro';
---

<Layout title="Portfoliux - Frontend Portfolio", description="Desarrollo de sitios web con componentes increibles, con habilidades en frontend y backend.">
<main class='text-white'>
    
   <!--      <div class="intro">
            <span class="msg msg-one font-serif">Good monrning</span>
            <span class="msg msg-two font-serif"> this is</span>
        </div> -->

       
        <NavBar/>
       
        <section class="flex flex-col md:flex-row md:justify-around md:mt-10 md:mb-16 mb-20">
            
            <section class="md:order-1">
                <Hero/>
                <Projects/>
            </section>
            
            <Descriptions p_one="pl-36" p_two="pl-40" p_three="pl-36" degraded="large-blur" />
            
            <section class="md:order-0">
                <Technologies/>
                <AboutMe/>
                <Languages/>
            </section>
            
            <Descriptions p_one="pl-2" p_three="pl-2" another="left-16" degraded="large-blur-right" />
            
            <section class="md:order-2">    
                <Experiences/>
                <Services/>
            </section>
        </section>

        
        <Footer/>
        
      
        
    </main>
</Layout>


