---
const {value} = Astro.props;
---

    <span class="rounded-xl w-fit inter-200">
        <section class="bg-white/10 m-[2px] px-2 py-2 w-fit rounded-[9px] text-[9px] md:text-[14px] text-white/80">
            <slot/>
        </section>
    </span>  

