---
const {text} = Astro.props
---

<section class="h-64 md:hidden inter-200 flex justify-center">
        <span class=`animated_white_basic_two tracking-tight flex items-center text-2xl `>{text}</span>
</section>