

<section class="w-72 flex flex-col justify-center mx-auto mb-10">

    <section class="mb-2 flex gap-2 items-center">
        <section class="border border-white/30 rounded-xl p-3 w-fit flex gap-2 items-center ">
            <span class="text-[18px] tracking-[-1px] font-[Manrope]">About me</span>
        </section>
    
    </section>
    
    
    
    <div class="border border-white/30 rounded-xl contenedor mx-auto w-72 overflow-hidden relative">

        
        <section class="bg-white/10 m-1 rounded-md">

            <section class="flex gap-3 text-start flex-wrap text-[12px] p-3">
                <span>I can use Scrum and Kanban methodologies</span>
                <span>I can develop projects on Slack, Zoom and Microsoft Teams</span>
                <span>I am a good writer, I have good communication skills, good workflow and commitment.</span>
            </section>
            
        </section>

        <section class="bg-white/10 m-1 p-3 rounded-md">
            <a href="../curriculum.pdf" target="_blank" class="text-[11px] text-gray-400 flex gap-1 items-center w-fit" >
                View Curriculum<img src="assets/arrow_link.svg" alt="" class="h-3">  
            </a>
        </section>
            
    </div>

        
</section>