

<section class="w-[290px] flex flex-col justify-center mx-auto mb-10">

    <section class="mb-2 flex gap-2 items-center">
        <section class="border border-white/30 rounded-xl p-3 w-fit flex gap-2 items-center ">
            <span class="text-[18px] tracking-[-1px] font-[Manrope]">About me</span>
        </section>
    
    </section>
    
    
    
    <div class="border border-white/30 rounded-xl contenedor mx-auto w-[290px] overflow-hidden relative">
        
        <section class="flex gap-3 text-start flex-wrap text-[12px] p-4">
            <span>I can use Scrum and Kanban methodologies</span>
            <span>I can develop projects on Slack, Zoom and Microsoft Teams</span>
            <span>I am a good writer, I have good communication skills, good workflow and commitment.</span>
        </section>

        <section class="border-b border-gray-600 ">
        </section>
        <div class="iluminado"></div>

        <section>
            <a href="../curriculum.pdf" target="_blank" class="text-[11px] text-gray-400 flex gap-1 items-center p-3 w-fit" >
                View Curriculum<img src="assets/arrow_link.svg" alt="" class="h-3">  
            </a>
        </section>
    </div>
</section>