

<section class="w-[250px] flex flex-col justify-center mx-auto mb-10">

    <section class="mb-2 flex gap-2 items-center">
        <section class="border border-white/30 rounded-xl p-3 w-fit flex gap-2 items-center ">
            <span class="text-[20px] tracking-[-1px] font-[Manrope]">About me</span>
        </section>
        <img src="assets/arrow_link.svg" alt="" class="h-5">
    </section>
    
    
    
    <div class="border border-white/30 rounded-xl p-4 contenedor mx-auto w-[250px] overflow-hidden relative">
        
        <section class="flex gap-3 text-start flex-wrap text-[13px] ">
            <span>- Scrum and Kanban methodologies</span>
            <span class="text-gray-300">- Slack, Zoom and Microsoft Teams</span>
            <span>- Good writer, good communication skills and good workflow</span>
            <span class="text-gray-300">- Slack, Zoom and Microsoft Teams</span>
        </section>
        <div class="iluminado"></div>
    </div>
</section>