<article class="w-72 flex flex-col justify-center mx-auto mb-10">
    <h1 class="text-[20px] tracking-[-1px] font-[Manrope] border border-white/30 rounded-xl py-3 px-6 flex w-fit mx-auto justify-center mb-3">About Me</h1>
    <div class="border border-white/30 rounded-xl contenedor mx-auto w-72 overflow-hidden relative">
        <p class="bg-white/10 flex flex-col text-start flex-wrap text-[12px] m-1 p-3 rounded-t-md inter-200 gap-[2px] text-white/70 ">
            <span class=" rounded-t-md">Adaptable in Scrum and Kanban methodologies</span>
            <span class="border-b border-white/10 my-2"></span>
            <span class=" ">Connectivity via Zoom, Slack, Microsoft Teams, Discord or Whatsapp</span>
            <span class="border-b border-white/10 my-2"></span>
            <span class="">Good writer, good communication skills, good workflow and commitment</span>
        </p>
        <a href="../curriculum.pdf" target="_blank" class="text-[11px] text-white/50 flex gap-1 items-center w-fit mx-3 my-3 inter-300" >
            View Curriculum<img src="assets/arrow_link.svg" alt="" class="h-3">  
        </a>
    </div>
</article>