
    
    <div class="text-[12px] border border-white/30 w-fit px-6 py-4 rounded-xl mx-auto overflow-hidden relative flex flex-col justify-center items-center">
        
        <section class="flex gap-2 mb-2">
            <img src="assets/star.svg" alt="" class="h-5">
            <img src="assets/star.svg" alt="" class="h-5">
            <img src="assets/star.svg" alt="" class="h-5">
            <img src="assets/star.svg" alt="" class="h-5">
        </section>
        <section class="text-gray-200">
            SEO, Optimization, Landing Pages
        </section>


        <div class="iluminado"></div>
    </div>
