
    
    <div class="px-4 py-3 text-[10px] border border-white/30 w-fit rounded-xl mx-auto overflow-hidden relative flex flex-col justify-center items-center">
        
        <section class="flex mb-2">
            <img src="assets/star.svg" alt="" class="h-7">
            <img src="assets/star.svg" alt="" class="h-7">
            <img src="assets/star.svg" alt="" class="h-7">
            <img src="assets/star.svg" alt="" class="h-7">
            <img src="assets/star-out.svg" alt="" class="h-7">
        </section>
        <section class="text-gray-200">
            SEO, Optimization, Landing Pages
        </section>

    </div>
