
    
    <div class="px-4 border border-white/30 w-fit rounded-xl overflow-hidden relative flex flex-col">
        
        <section class="text-gray-200 text-[14px] ">
            SEO. Optimization. Landing Pages.
        </section>
        <section class="flex mb-2">
            <img src="assets/star.svg" alt="" class="h-7">
            <img src="assets/star.svg" alt="" class="h-7">
            <img src="assets/star.svg" alt="" class="h-7">
            <img src="assets/star.svg" alt="" class="h-7">
        </section>

    </div>
