

    
        
        <section class="flex flex-col items-center justify-center">

            <section class="border border-white/30 w-fit rounded-xl mx-auto gap-2 mb-2 py-3 px-5 flex items-center">
                <img src="assets/star.svg" alt="" class="h-6">
                <img src="assets/star.svg" alt="" class="h-6">
                <img src="assets/star.svg" alt="" class="h-6">
                <img src="assets/star.svg" alt="" class="h-6">
            </section>
            
            
            <section class="text-gray-300 text-[10px] ">
                SEO, Optimization, Landing Pages
            </section>
            
        </section>