
    
    <div class="border border-white/30 w-fit rounded-xl overflow-hidden relative flex flex-col mx-auto">
        
        <section class="text-gray-200 text-[14px] border-b border-white/30 p-3 ">
            <title>Services</title>
            <span>SEO</span>
            <span class="text-white">Landing Pages</span>
            <span>Optimization</span>
        </section>
        <section class="flex p-2">
            <img src="assets/star.svg" alt="" class="h-5">
            <img src="assets/star.svg" alt="" class="h-5">
            <img src="assets/star.svg" alt="" class="h-5">
            <img src="assets/star.svg" alt="" class="h-5">
        </section>

    </div>
