
    
    <div class="px-4 py-3 text-[12px] border border-white/30 w-fit rounded-xl overflow-hidden relative flex flex-col">
        
        <section class="flex mb-2">
            <img src="assets/star.svg" alt="" class="h-7">
            <img src="assets/star.svg" alt="" class="h-7">
            <img src="assets/star.svg" alt="" class="h-7">
            <img src="assets/star.svg" alt="" class="h-7">
        </section>
        <section class="text-gray-200">
            SEO. Optimization. Landing Pages.
        </section>

    </div>
