---
const {value} = Astro.props;
---

    <span class="border border-white/30 rounded-xl w-fit">
        <section class="bg-white/10 m-1 px-2 py-[6px] w-fit rounded-md text-[12px] text-white/80">
            {value}
        </section>
    </span>  

