---
interface Props{
value?: string
}
const {value} = Astro.props
---

    <span class="h-fit w-fit text-[11px] md:text-[13px] bg-[rgba(149,149,149,0.1)] p-[9px] text-gray-300 border border-white/30 rounded-xl">
        <span class="text-blue-700">•</span> {value}
    </span>  
