---
import Icons from '../components/Icons.astro';
---


<section class="flex flex-col mx-8 mb-5">
    <section class="flex gap-5 justify-center items-end border-b pb-3 border-white/30">
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=nvrscontact@gmail.com"
        target="_blank" rel="noopener noreferrer">
            <img src="assets/email.svg" alt="" class="h-[19px] ">
        </a>
        <Icons img='assets/linkedin.svg'  link='https://www.linkedin.com/in/alonso-nu%C3%B1ez-413b00354/' value='LinkedIn' height='h-[21px] '/>
        <Icons img='assets/github.svg' link='https://github.com/nvrscontact'  value='Github'/>
    </section>
    <p class="dark:text-black pt-3 text-[10px] flex items-center justify-center gap-2 text-gray-200"> 
        <span>Based in Spain </span>
        <img src="assets/spain.svg" alt="" class="h-4">
        <span class="">Let's work together</span>
    </p>
</section>

<section class="text-center flex flex-col gap-4 mx-8 text-[14px]">
    <p class="dark:text-black text-gray-400 text-[9px]">This is just another way to create web pages with modern components and styles without losing its easy accessibility, if you want to collaborate write me right away and let's develop this idea.</p>
    <p class="dark:text-black text-gray-400 text-[8px] ">© Copyright 2025 Portfoliux.</p>
</section>