---
import Icons from '../components/Icons.astro';
---


    <section class="">
        <section class="flex items-center justify-between px-4 mb-5 border-b pb-3 border-white/30">
            <span class="flex items-center gap-2 text-[12px] text-gray-400">Spain, Alicante<img src="assets/spain.svg" alt="" class="h-4"></span>
            <section class="flex gap-3 items-center justify-center">
                <a href="https://mail.google.com/mail/?view=cm&fs=1&to=nvrscontact@gmail.com"
                target="_blank" rel="noopener noreferrer">
                <img src="assets/email.svg" alt="" class="h-[20px] ">
                </a>
                <Icons img='assets/github.svg' link='https://github.com/nvrscontact'  value='Github'/>
                <Icons img='assets/linkedin.svg'  link='https://www.linkedin.com/in/nvrscontact/' value='LinkedIn' height='h-[22px] '/>
            </section>
        </section>
    
    
        <section class="text-center flex flex-col gap-4 mx-8 text-[14px]">
            <p class="dark:text-black text-gray-400 text-[9px] animated_white_basic_two">This is just another way to create web pages with modern components and styles without losing its easy accessibility, if you want to collaborate write me right away and let's develop this idea.</p>
            <p class="dark:text-black text-gray-400 text-[8px] ">© Copyright 2025 Portfoliux</p>
        </section>
    </section>
