---
import Experience from "../components/subcomponents/Experience.astro"
---
<article class="flex flex-col gap-2 w-[260px] mx-auto mb-20 ">
    <h1 class="text-[20px] tracking-[-1px] font-[Manrope] border border-white/30 rounded-xl p-3 flex w-full justify-center">Experiences</h1>
        <section class="scrolls_bar flex flex-col py-2 gap-16">
            <Experience 
            company='Apple Inc',
            others="Technology"
            dates='2020 - 2022',
            workstation='iOS Developer',
            paragraph=`Working and collaborating in the development of a multiplatform application for the management of the company's internal products`,
            paragraph_two="This development also achieved considerable progress in terms of design and ease of use.",
            country='assets/usa.svg',
            countryName="ES"
            improvements="+20% users"
            language_one="assets/react.png",
            language_two="assets/tailwind.png",
            language_three=""
            /> 
            <Experience 
            company='Microsoft Corporation',
            others="Corporation"
            dates='2013 - 2017',
            workstation='Frontend Developer',
            paragraph=`Working and collaborating in the development of a multiplatform application for the management of the company's internal products.`,
            paragraph_two="This development also achieved considerable progress in terms of design and ease of use.",
            country='assets/usa.svg',
            countryName="US"
            improvements="+15k visits"
            language_one="assets/react.png",
            language_two="assets/javascript.png",
            language_three="assets/tailwind.png"
            /> 
            <Experience 
            company='Microsoft',
            others="Technology"
            dates='2013 - 2017',
            workstation='Frontend Manager',
            paragraph=`Working and collaborating in the development of a multiplatform application for the management of the company's internal products.`,
            paragraph_two="This development also achieved considerable progress in terms of design and ease of use.",
            country='assets/spain.svg',
            countryName="UK"
            improvements="+20% performance"
            language_one="assets/react.png",
            language_two="assets/tailwind.png",
            language_three=""      
            /> 
        </section>
    <h2 class="text-[18px] tracking-[-1px] font-[Manrope] border border-white/30 rounded-xl p-2 flex w-full justify-center gap-3 items-center">References <img src="assets/arrow_link.svg" alt="" class="h-3"></h2>
</article>