---
import Icons from '../components/subcomponents/Icons.astro';
---

    <!-- Laptop Version -->
<footer>
    <section class="hidden lg:flex lg:justify-center lg:flex-row lg:items-center gap-4 mb-4 ">
            <span class="flex lg:order-0 justify-between px-4 items-center gap-2 text-[11px] text-[#6d6d6d] inter-300 "><img src="assets/spain.svg" alt="" class="h-4">Alacant, Spain</span>
            <span class="hidden lg:flex lg:order-1 border w-16 h-[1px] border-white/10 "></span>
            <p class="flex justify-center order-2 lg:order-3 pt-4 border-t border-white/20 inter-300 lg:border-none text-[8px] md:text-[11px] text-center text-[#6d6d6d]">
                <span class="text-[8px] md:text-[11px] text-center text-[#6d6d6d] ">A way to create websites with modern styles without losing their easy accessibility<br> <span class="animated_white_basic_two">If you want to collaborate, write me and develop your idea</span></span>
            </p>
            <span class="hidden lg:order-4 lg:flex border w-16 h-[1px] border-white/10 "></span> 
            <section class="flex lg:ml-3 lg:order-5 gap-3 items-center justify-center ">
                <a href="https://mail.google.com/mail/?view=cm&fs=1&to=nvrscontact@gmail.com"
                target="_blank" rel="noopener noreferrer">
                    <img src="assets/email.svg" alt="" class="h-[18px] ">
                </a>
                <Icons img='assets/linkedin.svg' link='https://applclone.netlify.app/' height='h-[14px]' height_md='md:h-[18px]' />
                <Icons img='assets/github.svg' link='https://applclone.netlify.app/' height='h-[14px]' height_md='md:h-[18px]' />
            </section>
    </section>


    <!-- Mobile Version -->
    <div class="flex flex-col justify-center lg:hidden ">
        <section class="flex justify-between mb-4 px-8">
            <span class="flex items-center gap-2 text-[11px] text-[#6d6d6d] inter-300 "><img src="assets/spain.svg" alt="" class="h-4">Alacant, Spain</span>
            <div class="flex gap-3 items-center justify-center ">
                <a href="https://mail.google.com/mail/?view=cm&fs=1&to=nvrscontact@gmail.com"
                    target="_blank" rel="noopener noreferrer">
                    <img src="assets/email.svg" alt="" class="h-[18px] ">
                </a>
                <Icons img='assets/linkedin.svg' link='https://applclone.netlify.app/' height='h-[18px]' height_md='md:h-[22px]' />
                <Icons img='assets/github.svg' link='https://applclone.netlify.app/' height='h-[18px]' height_md='md:h-[22px]' />
            </div>
        </section>
        <p class="flex flex-col justify-center py-4 border-t border-white/20 inter-300">
            <span class="text-[8px] md:text-[11px] text-center text-[#6d6d6d] ">A way to create websites with modern styles without losing their easy accessibility<br> <span class="animated_white_basic_two">If you want to collaborate, write me and develop your idea</span></span>
            <span class="text-[#5a5a5a] text-[8px] text-center pt-2">© Copyright 2025 Portfoliux </span>
        </p>
    </div>
</footer>