---
import Icons from '../components/Icons.astro';
---


    <div class="text-center flex flex-col gap-3 mb-3">
       
        <section class="flex items-center justify-between px-4">
            <span class="flex items-center gap-2 text-[10px] text-[#6d6d6d] "><img src="assets/spain.svg" alt="" class="h-4"></span>
            <section class="flex gap-3 items-center justify-center">
                <a href="https://mail.google.com/mail/?view=cm&fs=1&to=nvrscontact@gmail.com"
                target="_blank" rel="noopener noreferrer">
                <img src="assets/email.svg" alt="" class="h-[18px] ">
                </a>
                <Icons img='assets/github.svg' link='https://github.com/nvrscontact'  value='Github' height='h-[18px] '/>
                <Icons img='assets/linkedin.svg'  link='https://www.linkedin.com/in/nvrscontact/' value='LinkedIn' height='h-[18px] '/>
            </section>
        </section>
    
        <section class="border-t pt-4 border-white/20">
            <p class="text-[9px] animated_white_basic_two text-center mx-4">This is just another way to create web pages with modern components and styles without losing its easy accessibility, if you want to collaborate write me right away and let's develop this idea.</p>
        </section>
            
        <p class="text-[#6d6d6d] text-[8px] ">© Copyright 2025 Portfoliux</p>

    </div>
