---
import Icons from '../components/subcomponents/Icons.astro';
---


    <div class="text-center flex flex-col gap-3 mb-4 md:mx-40">
       
        <section class="flex items-center justify-between px-4 ">
            <span class="flex items-center gap-2 text-[12px] text-[#6d6d6d] inter-300 "><img src="assets/spain.svg" alt="" class="h-4">Alacant, Spain</span>
            <section class="flex gap-3 items-center justify-center">
                <a href="https://mail.google.com/mail/?view=cm&fs=1&to=nvrscontact@gmail.com"
                target="_blank" rel="noopener noreferrer">
                <img src="assets/email.svg" alt="" class="h-[18px] ">
                </a>
                <Icons img='assets/linkedin.svg'  link='https://www.linkedin.com/in/nvrscontact/' value='LinkedIn' height='h-[20px] '/>
                <Icons img='assets/github.svg' link='https://github.com/nvrscontact'  value='Github' height='h-[18px] '/>
            </section>
        </section>
    
        <section class="border-t pt-4 border-white/10 inter-300">
            <p class="text-[8px] md:text-[12px] text-center mx-4 text-[#6d6d6d] ">A way to create websites with modern styles without losing their easy accessibility. <br> <span class="animated_white_basic_two">If you want to collaborate, write me and develop your idea</span></p>
        </section>
            
        <p class="text-white/30 text-[6px] md:text-[10px] inter-300 ">© Copyright 2025 Portfoliux</p>

    </div>
