---
import Buttons from '../components/subcomponents/Buttons.astro';
---


        <section class="mt-8 mb-14 mx-6 md:ml-20 lg:mt-4 lg:mb-36">
            <section class="flex flex-col ">

                <section class="mb-6 text-white/80">
                    <section class="flex flex-col text-[38px] md:text-[55px] font-[Manrope] leading-10 md:leading-none tracking-[-3px] relative mt-1 ">
                       <span>The way to</span>
                       <span>create <span class=" timezone text_colors">modern</span></span>
                       <span>and <span class="timezone text_colors pr-1">simple</span></span>
                        <span class="">websites</span>
                    </section>
                </section>

                <section class="flex gap-2 md:gap-4">
                    <Buttons>
                        Frontend Development
                    </Buttons>
                    <Buttons>
                        Using <span class="timezone text_colors">UX / UI</span> Techniques
                    </Buttons>
                </section>
            


            </section>
        </section>
            