---
import Buttons from '../components/subcomponents/Buttons.astro';
---


        <section class="mt-2 mb-14 md:ml-36 lg:mb-36 lg:ml-4">
            <section class="flex flex-col ">
                <section class="flex justify-center gap-1 md:gap-4 mb-8">
                        <Buttons>
                            Frontend Development
                        </Buttons>
                        <Buttons>
                            <span class="">Modern Trends</span>
                        </Buttons>
                        <Buttons>
                            Using <span class="">UX / UI</span> Techniques
                        </Buttons>
                </section>
                
                <section class="">
                    <section class="inter-200 text-white/50 flex flex-col items-center text-[38px] md:text-[55px] leading-tight md:leading-none ">
                       <span>Websites with a</span>
                       <span>visual harmony </span>
                        <span class="">that achieves</span>
                       <span>the objective <span class=""></span></span>
                        <div class="flex items-center gap-4 mt-2">
                            <span class="text-[14px]  ">that you customers want</span>
                        </div>
                    </section>
                </section>

            


            </section>
        </section>
            
        <!-- Websites with a visual harmony that achieves the objective. -->