---
import Buttons from '../components/subcomponents/Buttons.astro';
---
<header class="mt-2 mb-14 ">
    <section class="flex flex-col ">
        <section class="flex justify-center gap-1 md:gap-4 mb-8">
                <Buttons>Frontend Development</Buttons>
                <Buttons>Visual Prototypes</Buttons>
                <Buttons>Using UX / UI Techniques</Buttons>
        </section>
        <p class="inter-200 text-center text-white/50 flex flex-col items-center text-[38px] md:text-[55px] leading-tight md:leading-[4rem]  ">
            Websites with <br>
            a visual harmony <br>
            that achieves <br>
            the objective
            <span class="text-[14px] mt-3 md:-mt-1 md:text-[16px] ">that you customers want</span>
        </p>
    </section>
</header>

