---
import Buttons from '../components/subcomponents/Buttons.astro';
---


        <section class="mt-8 mb-14 mx-6 md:ml-36 lg:mb-36 lg:ml-4">
            <section class="flex flex-col ">

                <section class="mb-6 text-white/80">
                    <section class="inter-200 flex flex-col items-center text-[38px] md:text-[55px]  leading-10 md:leading-none tracking-[-1px] ">
                       <span>The way to</span>
                       <span>create <span class=" timezone text_colors">modern</span></span>
                       <span>and <span class="">simple</span></span>
                        <span class="timezone text_colors pr-1">websites</span>
                    </section>
                </section>

                <section class="flex justify-center gap-2 md:gap-4">
                    <Buttons>
                        Frontend Development
                    </Buttons>
                    <Buttons>
                        Using <span class="timezone text_colors">UX / UI</span> Techniques
                    </Buttons>
                </section>
            


            </section>
        </section>
            