<section class="w-72 mx-auto">

    <section class="mb-2 ">
        <section class="border border-white/30 rounded-xl p-3 w-fit flex gap-2 items-center">
            <span class="text-[18px] tracking-[-1px] font-[Manrope]">Languages</span>
        </section>
    </section>
    
    
    
    <div class="w-72 text-[12px] border border-white/30 rounded-xl contenedor mx-auto  overflow-hidden relative">

        <section class="bg-white/10 m-1 rounded-md p-3 flex flex-col gap-1">
            
            <section class="flex items-center gap-2 pb-1 ">
                <img src="assets/united-states.svg" alt="" class="h-3"> 
                English
                <span class="text-gray-400 ">- A2</span>
            </section>
            <section class="flex items-center gap-2">
                <img src="assets/spain.svg" alt="" class="h-3"> 
                Spanish
                <span class="text-gray-400">- Native</span>
            </section>
            
        </section>

    </div>

</section>