<article class="w-72 mx-auto">
    <section class="mb-3 flex gap-2 items-center justify-center">
        <section class="border border-white/30 rounded-xl p-3 w-fit flex gap-2 items-center px-6 ">
            <span class="text-[18px] tracking-[-1px] font-[Manrope]">Languages</span>
        </section>
    </section>
    <div class="w-72 text-[12px] border border-white/30 rounded-xl contenedor mx-auto  overflow-hidden relative">

        <section class="bg-white/10 inter-200 m-1 rounded-md p-4 flex flex-col">
            <section class="flex items-center gap-2">
                <img src="assets/usa.svg" alt="" class="h-4"> 
                English
                <span class=""><span class="bg-black/50 py-1 px-2">B1</span></span>
            </section>
            <span class="border-b border-white/10 my-3"></span>
            <section class="flex items-center gap-2">
                <img src="assets/spain.svg" alt="" class="h-4"> 
                Spanish
                <span class=""> <span class="bg-black/50 py-1 px-2">Native</span></span>
            </section>
<!--             <span class="border-b border-white/10 my-3"></span>
 -->      <!--       <section class="flex items-center gap-2">
                <img src="assets/france.svg" alt="" class="h-4"> 
                Français
                <span class=""> <span class="bg-black/50 py-1 px-2">A1</span></span>
            </section> -->
        </section>

    </div>
</article>

