<section class="w-[290px] flex flex-col justify-center mx-auto">

    <section class="mb-2 ">
        <section class="border border-white/30 rounded-xl p-3 w-fit flex gap-2 items-center">
            <span class="text-[18px] tracking-[-1px] font-[Manrope]">Languages</span>
        </section>
    </section>
    
    
    
    <div class="text-[12px] border border-white/30 rounded-xl p-4 contenedor mx-auto w-[290px] overflow-hidden relative">
        
        <section class="flex items-center gap-2 pb-1 ">
            <img src="assets/united-states.svg" alt="" class="h-4"> 
            English
            <span class="text-gray-400 ">- A2</span>
        </section>
        <section class="flex items-center gap-2">
            <img src="assets/spain.svg" alt="" class="h-4"> 
            Spanish
            <span class="text-gray-400">- Native</span>
        </section>

        <div class="iluminado"></div>
    </div>
</section>