---
import Icons from '../components/subcomponents/Icons.astro';
---

<header class="flex items-center justify-center gap-4 py-4 md:py-7 border-b border-white/10 md:border-none ">
    <nav class="flex gap-8">
        <Icons img='assets/building.svg' link='https://rosettihotels.vercel.app/' height='h-[20px]' height_md='md:h-[24px]' />
        <Icons img='assets/song.svg' link='https://artistportfoliux.vercel.app' height='h-[20px]' height_md='md:h-[24px]' />
        <Icons img='assets/cupcake.svg' link='https://candiescenter.vercel.app' height='h-[20px]' height_md='md:h-[24px]' />
    </nav>
</header> 
