 <section class="">
            <section class="flex items-center justify-center gap-3 py-4 border-b border-white/10 md:border-none ">

                <div class="flex gap-3">
                <a href="https://rosettiscoffee.netlify.app/">
                    <img src="assets/arrow_link.svg" alt="" class="cursor-pointer h-[14px] md:h-[18px] hover:drop-shadow-[0_0_10px_rgba(255,255,255,0.9)]">
                </a>
                <a href="https://applclone.netlify.app/">
                    <img src="assets/arrow_link.svg" alt="" class="cursor-pointer h-[14px] md:h-[18px] hover:drop-shadow-[0_0_10px_rgba(255,255,255,0.9)]">
                </a>
                </div>

                <span class="border w-8 md:w-16 h-[1px] border-white/10 "></span>

                <div class="flex gap-3">
                <a href="https://applclone.netlify.app/">
                    <img src="assets/cupcake.svg" alt="" class="cursor-pointer h-[18px] md:h-[22px] hover:drop-shadow-[0_0_10px_rgba(255,255,255,0.9)]">
                </a>
                <a href="https://rosettiscoffee.netlify.app/">
                    <img src="assets/song.svg" alt="" class="cursor-pointer h-[20px] md:h-[22px] hover:drop-shadow-[0_0_10px_rgba(255,255,255,0.9)]">
                </a>
                <a href="https://applclone.netlify.app/">
                    <img src="assets/building.svg" alt="" class="cursor-pointer h-[20px] md:h-[22px] hover:drop-shadow-[0_0_10px_rgba(255,255,255,0.9)]">
                </a>
                </div>

                <span class="border w-8 md:w-16 h-[1px] border-white/10 "></span>

                <div class="flex gap-3">
                <a href="https://applclone.netlify.app/">
                    <img src="assets/arrow_link.svg" alt="" class="cursor-pointer h-[14px] md:h-[18px] hover:drop-shadow-[0_0_10px_rgba(255,255,255,0.9)]">
                </a>
                <a href="https://rosettiscoffee.netlify.app/">
                    <img src="assets/arrow_link.svg" alt="" class="cursor-pointer h-[14px] md:h-[18px] hover:drop-shadow-[0_0_10px_rgba(255,255,255,0.9)]">
                </a>
                </div>


            </section> 
    </section>
