 <section class="">
            <section class="flex justify-center gap-8 border-b border-gray-600 py-4 ">
                <a href="https://applclone.netlify.app/">
                    <img src="assets/apple.svg" alt="" class="cursor-pointer h-[18px] hover:drop-shadow-[0_0_10px_rgba(255,255,255,0.9)]">
                </a>
                <a href="https://rosettiscoffee.netlify.app/">
                    <img src="assets/coffee.svg" alt="" class="cursor-pointer h-[18px] hover:drop-shadow-[0_0_10px_rgba(255,255,255,0.9)]">
                </a>
                <a href="https://applclone.netlify.app/">
                    <img src="assets/arrow_link.svg" alt="" class="cursor-pointer h-[18px] hover:drop-shadow-[0_0_10px_rgba(255,255,255,0.9)]">
                </a>
            </section> 
        </section>