---
import Icons from '../components/subcomponents/Icons.astro';
---

<section class="flex items-center justify-center gap-4 py-4 border-b border-white/10 md:border-none ">

    <div class="flex gap-3">
    <Icons img='assets/arrow_link.svg' link='https://applclone.netlify.app/' height='h-[14px]' height_md='md:h-[18px]' />
    <Icons img='assets/arrow_link.svg' link='https://applclone.netlify.app/' height='h-[14px]' height_md='md:h-[18px]' />
    </div>

    <span class="border w-8 md:w-16 h-[1px] border-white/10 "></span>

    <div class="flex gap-3">
    <Icons img='assets/cupcake.svg' link='https://applclone.netlify.app/' height='h-[20px]' height_md='md:h-[22px]' />
    <Icons img='assets/song.svg' link='https://applclone.netlify.app/' height='h-[20px]' height_md='md:h-[22px]' />
    <Icons img='assets/building.svg' link='https://applclone.netlify.app/' height='h-[20px]' height_md='md:h-[22px]' />
    </div>

    <span class="border w-8 md:w-16 h-[1px] border-white/10 "></span>

    <div class="flex gap-3">
    <Icons img='assets/arrow_link.svg' link='https://applclone.netlify.app/' height='h-[14px]' height_md='md:h-[18px]' />
    <Icons img='assets/arrow_link.svg' link='https://applclone.netlify.app/' height='h-[14px]' height_md='md:h-[18px]' />
    </div>


</section> 
