---
import Icons from '../components/subcomponents/Icons.astro';
---

<section class="flex items-center justify-center gap-4 py-4 md:py-7 border-b border-white/10 md:border-none ">


    <div class="flex gap-8">
    <Icons img='assets/cupcake.svg' link='https://candiesweb.netlify.app' height='h-[20px]' height_md='md:h-[22px]' />
    <Icons img='assets/song.svg' link='https://artistportfoliux.vercel.app' height='h-[20px]' height_md='md:h-[22px]' />
    <Icons img='assets/building.svg' link='https://rosettisweb.netlify.app' height='h-[20px]' height_md='md:h-[22px]' />
    </div>


</section> 
