 <section class="">
            <section class="flex justify-evenly border-b border-white/10 py-4 md:mx-40 ">
                <div class="flex gap-3">
                <a href="https://rosettiscoffee.netlify.app/">
                    <img src="assets/arrow_link.svg" alt="" class="cursor-pointer h-[18px] hover:drop-shadow-[0_0_10px_rgba(255,255,255,0.9)]">
                </a>
                <a href="https://applclone.netlify.app/">
                    <img src="assets/arrow_link.svg" alt="" class="cursor-pointer h-[18px] hover:drop-shadow-[0_0_10px_rgba(255,255,255,0.9)]">
                </a>
                </div>
                <div class="flex gap-3">
                <a href="https://applclone.netlify.app/">
                    <img src="assets/coffee.svg" alt="" class="cursor-pointer h-[18px] hover:drop-shadow-[0_0_10px_rgba(255,255,255,0.9)]">
                </a>
                <a href="https://rosettiscoffee.netlify.app/">
                    <img src="assets/coffee.svg" alt="" class="cursor-pointer h-[18px] hover:drop-shadow-[0_0_10px_rgba(255,255,255,0.9)]">
                </a>
                <a href="https://applclone.netlify.app/">
                    <img src="assets/coffee.svg" alt="" class="cursor-pointer h-[18px] hover:drop-shadow-[0_0_10px_rgba(255,255,255,0.9)]">
                </a>
                </div>
                <div class="flex gap-3">
                <a href="https://applclone.netlify.app/">
                    <img src="assets/arrow_link.svg" alt="" class="cursor-pointer h-[18px] hover:drop-shadow-[0_0_10px_rgba(255,255,255,0.9)]">
                </a>
                <a href="https://rosettiscoffee.netlify.app/">
                    <img src="assets/arrow_link.svg" alt="" class="cursor-pointer h-[18px] hover:drop-shadow-[0_0_10px_rgba(255,255,255,0.9)]">
                </a>
                </div>
            </section> 
    </section>