---
import Project from '../components/subcomponents/Project.astro';
---
<article class="flex gap-3 lg:gap-6 items-center scroll-container" id="scrollContainer">
    <div class="card">
    <Project 
    title="Rosetti's Hotel" 
    paragraph='View menus, schedules, events and make reservations to anybody.' 							
    ground_img='assets/restaurant.webp'
    icon_span_one='assets/tailwind.png'
    icon_span_two='assets/react.png'
    link='https://rosettisweb.netlify.app/'
    link_img='assets/arrow_link.svg'
    />
    </div>
    <div class="card">
    <Project 
    title='Artist Portfolio' 
    paragraph='Social network with encrypted conversations and publications' 
    ground_img='assets/microphone.jpg'
    icon_span_one='assets/tailwind.png'
    icon_span_two='assets/react.png'
    ground_height='h-[142px] '
    link='https://artistportfoliux.vercel.app'
    link_img='assets/arrow_link.svg'
    height='h-[285px]'
    />	
    </div>
    <div class="card">
    <Project 
    title='Candies Center' 
    paragraph='Get training guides from personal trainers and view progress' 								
    ground_img='assets/cupcake_bg.jpg'
    ground_height='h-[122px]'
    icon_span_one='assets/tailwind.png'
    icon_span_two='assets/react.png'
    link='https://candiesweb.netlify.app'
    link_img='assets/arrow_link.svg'
    />	
    </div>
</article>
