---
import Buttons from '../components/Buttons.astro';
---


        <section class="mt-10 mb-16 mx-6 md:mt-0 md:mb-36">
            <section class="flex flex-col ">

                <section class="mb-5">
                    <span class="text-gray-400  font-serif text-[12px] ">Morning!, Welcome to</span>
                    <section class="flex flex-col text-[44px] font-[Manrope] leading-[45px] tracking-tighter relative mt-1 ">
                       <span>The way to</span>
                       <span>create <span class="">modern</span></span>
                       <span class="">and simple</span>
                        <span class="">websites <span class="text-gray-400 text-[14px] tracking-[-1px] leading-none ">let's make it possible</span></span>
                    </section>
                </section>

                <section class="grid grid-cols-2 w-fit">
                    <Buttons value='Frontend Development'/>
                    <Buttons value='Backend Development'/>
                    <section class="grid grid-cols-2 w-fit pr-4">
                        <Buttons value='Using UX / UI Techniques'/>
                    </section>
                </section>

            </section>
        </section>
            