---
import Buttons from '../components/Buttons.astro';
---

    <div class="pt-4 mb-10">

        <section class="text-center">
            <section class="flex flex-col items-center">
                <section class="flex justify-center gap-8 border-b border-gray-400 w-[100%] pb-4 mb-6 ">
                <a href="https://applclone.netlify.app/">
                    <img src="assets/arrow_link.svg" alt="" class="cursor-pointer h-[18px] hover:drop-shadow-[0_0_10px_rgba(255,255,255,0.9)]">
                </a>
                <a href="https://applclone.netlify.app/">
                    <img src="assets/apple.svg" alt="" class="cursor-pointer h-[18px] hover:drop-shadow-[0_0_10px_rgba(255,255,255,0.9)]">
                </a>
                <a href="https://applclone.netlify.app/">
                    <img src="assets/arrow_link.svg" alt="" class="cursor-pointer h-[18px] hover:drop-shadow-[0_0_10px_rgba(255,255,255,0.9)]">
                </a>
            </section>      
            
            
            <section class="flex flex-col mb-3 leading-[45px] text-[45px] tracking-[-3px] font-[Manrope]  text-[#dadada]">
                <span class="timezone text_colors">The way to</span>
                <span>create</span>
                <span class="timezone text_colors">modern</span>
                <span>and simple</span>
                <span class="timezone text_colors">websites</span>
            </section>
            <section class="grid grid-cols-2 gap-x-2 gap-y-4 ">
                <Buttons value='Frontend Development'/>
                <Buttons value='Backend Development'/>
                <span class="col-span-2">
                    <Buttons value='Using UX / UI Techniques'/>
                </span>
            </section>
        </section>
    </section>
    
</div>
    