---
import Buttons from '../components/Buttons.astro';
---


        <section class="mt-10 mb-14 mx-6 md:mt-0 md:mb-36">
            <section class="flex flex-col ">

                <section class="mb-5 text-white/80">
                    <section class="flex flex-col text-[38px] font-[Manrope] leading-10 tracking-tighter relative mt-1 ">
                       <span>The way to</span>
                       <span>create <span class=" timezone text_colors">modern</span></span>
                       <span>and <span class="timezone text_colors pr-1">simple</span></span>
                        <span class="">websites<span class="text-gray-500 text-[14px] tracking-[-1px] leading-none  pl-2">let's make it possible</span></span>
                    </section>
                </section>


                    <section class="flex flex-col gap-3">

                        
                        <section class="flex gap-3">
                            <Buttons value='Frontend Development'/>
                            <Buttons value='Backend Development'/>
                        </section>
                        
                        <section class="flex ml-2 gap-3">
                            <Buttons value='Backend Development'/>
                            
                            
                        </section>
                    </section>
                    <!--  <section class="flex flex-col gap-2 gap-y-5">
                        <section>
                                <span class="h-fit w-fit text-[11px] md:text-[13px] bg-[rgba(149,149,149,0.1)] p-[9px] text-gray-300 border border-white/30 rounded-xl">
                            <span class=" text-gray-300 text-[15px] ">•</span> Using <span class="timezone text_colors">UX</span> techniques
                                </span>  
                        </section>
                    </section> -->


            </section>
        </section>
            