
    <section class="w-72 mx-auto">

        <div class="mb-2">
            <section class="border border-white/30 rounded-xl p-3 w-fit flex gap-2 items-center">
                <span class="text-[18px] tracking-[-1px] font-[Manrope]">Available Services</span>
            </section>
        </div>

        <div class="flex flex-col m-1 p-1 gap-1 text-white/60 border border-white/30 rounded-xl w-72 mx-auto">
            <section class=" flex flex-col rounded-t-md gap-1 text-sm">
                <span class="bg-white/10 p-3 rounded-t-md">Frontend</span>
                <span class="bg-white/10 p-3">Backend</span>
                <span class="bg-white/10 p-3 rounded-b-md">Fullstack</span>
               
            </section>
        </div>

        <section class="flex items-end mt-3 gap-2">
            <section class="flex ml-2 [&>*]:h-[19px] gap-[2px] ">
                <img src="assets/star.svg" alt="">
                <img src="assets/star.svg" alt="" >
                <img src="assets/star.svg" alt="" >
                <img src="assets/star.svg" alt="">
                <img src="assets/star.svg" alt="">
            </section>
            <span class="text-white/50 text-[12px] ">is what users think.</span>
        </section>
        
    </section>
