
<div class="w-72 mx-auto ">

    <section class="mb-4 flex gap-2 items-center justify-center">
        <div class="border border-white/30 rounded-xl p-3 w-fit flex gap-2 items-center px-6 ">
            <span class="text-[18px] tracking-[-1px] font-[Manrope]">Available Services</span>
        </div>
    </section>

    <section class="flex flex-col m-1 p-1 gap-1 text-white/60 border border-white/30 rounded-xl w-72 mx-auto">
        <div class=" flex flex-col rounded-t-md gap-1 text-sm inter-200">
            <span class="bg-white/10 p-3 rounded-t-md">Frontend</span>
            <span class="bg-white/10 p-3">UI Design</span>
            <span class="bg-white/10 p-3 rounded-b-md">Web Maintenance</span>
        </div>
    </section>

    <section class="flex flex-col justify-center mt-3 inter-200">
        <span class="text-white/40 text-[10px] text-center pb-[6px] ">opinion of some people when displaying and <br> using the websites</span>
        <div class="flex justify-center items-center [&>*]:h-[18px]">
            <img src="assets/star.svg" alt="">
            <img src="assets/star.svg" alt="" >
            <img src="assets/star.svg" alt="" >
            <img src="assets/star.svg" alt="">
            <img src="assets/star.svg" alt="">
        </div>
    </section>
        
</div>
