

<section class="w-[250px] flex flex-col justify-center mx-auto">

    <section class="mb-2">
        <section class="border border-white/30 rounded-xl p-3 w-fit">
            <span class="text-[20px] tracking-[-1px] font-[Manrope]">Soft</span>
        </section>
    </section>
    
    
    
    <div class=" bg-[#111] contenedor mx-auto w-[250px] overflow-hidden relative">
        
        <section class="flex gap-1 text-start flex-wrap text-[13px] ">
            <span>- Scrum and Kanban methodologies</span>
            <span class="text-gray-300">- Slack, Zoom and Microsoft Teams</span>
            <span>- Good writer, good communication skills and good workflow</span>
            <span class="text-gray-300">- Slack, Zoom and Microsoft Teams</span>
        </section>
        <div class="iluminado"></div>
    </div>
</section>