<section class="w-[250px] flex flex-col justify-center mx-auto mb-10">

    <section class="mb-2">
        <section class="border border-white/30 rounded-xl p-3 w-fit">
            <span class="text-[20px] tracking-[-1px] font-[Manrope]">Technical</span>
        </section>
    </section>
    
    
    
    <div class="border border-white/30 rounded-xl p-4 contenedor overflow-hidden relative">
        
        <section class="flex flex-wrap items-center gap-4">
            <img src="assets/javascript.png" alt="" class="h-6 ">
            <img src="assets/react.png" alt="" class="h-7 ">
            <img src="assets/astro.png" alt="" class="h-7 ">
            <img src="assets/tailwind.png" alt="" class="h-7 ">
            <img src="assets/git.png" alt="" class="h-7 ">
            <img src="assets/figma.png" alt="" class="h-7 ">
            <img src="assets/css.png" alt="" class="h-7 ">
            <img src="assets/html.png" alt="" class="h-7 ">
         
        </section>
        <div class="iluminado"></div>
    </div>
</section>
