

<div class=" w-[250px] flex flex-col gap-2 mx-auto mb-10">
    <section class="border border-white/30 rounded-xl flex items-center gap-2 p-3 w-fit ">
        <h1 class="text-[20px] tracking-[-1px] font-[Manrope] ">Technical</h1>
        <span class="text-gray-500">specialties</span>
    </section>
    <section class="border border-white/30 rounded-xl text-[13px]">
        <section class="flex p-4 flex-wrap gap-4 items-center">
                        <img src="assets/html.png" alt="" class="h-7 ">
                        <img src="assets/css.png" alt="" class="h-7 ">
                        <img src="assets/javascript.png" alt="" class="h-6 ">
                        <img src="assets/react.png" alt="" class="h-7 ">
                        <img src="assets/tailwind.png" alt="" class="h-7 ">
                        <img src="assets/git.png" alt="" class="h-7 ">
                        <img src="assets/figma.png" alt="" class="h-7 ">
                        <img src="assets/astro.png" alt="" class="h-7 ">
                     
                      
          
        </section>
    </section> 
</div>
