<section class="w-[290px] flex flex-col justify-center mx-auto mb-10">

    <section class="mb-3 flex gap-2 items-center justify-center">
        <section class="border border-white/30 rounded-xl p-3 w-fit flex gap-2 items-center px-6 ">
            <span class="text-[18px] tracking-[-1px] font-[Manrope]">Technologies</span>
        </section>
    </section>
    
    <div class="border border-white/30 rounded-xl overflow-hidden relative">
        

        <section class="bg-white/10 m-[4px] p-4 rounded-md flex flex-wrap gap-4">
            <img src="assets/html.png" alt="" class="h-7 ">
            <img src="assets/css.png" alt="" class="h-7 ">
            <img src="assets/javascript.png" alt="" class="h-6 ">
            <img src="assets/astro.png" alt="" class="h-7 ">
            <img src="assets/react.png" alt="" class="h-7 ">
            <img src="assets/tailwind.png" alt="" class="h-7 ">
            <img src="assets/figma.png" alt="" class="h-7 ">
            <img src="assets/git.png" alt="" class="h-7 ">
        </section>


    </div>
</section>
